@tailwind base;
@tailwind components;
@tailwind utilities;

#ConvosList::-webkit-scrollbar {
    width: 5px;
    
}
#ConvosList::-webkit-scrollbar-thumb {
    background-color: rgb(227, 226, 226);
}
#chat::-webkit-scrollbar {
    width: 5px;
}
#chat::-webkit-scrollbar-thumb {
    background-color: #007bff;

}
.chat-bubble {
    display: inline-block;
    max-width: 80%;
    padding: 10px;
    border-radius: 10px;
    margin: 2px 5px;
  }
  
  .user {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
  }
  
  .other {
    background-color: #f1f0f0;
    color: black;
    align-self: flex-start;
  }